<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="SPDX"
            class="org.spdx.spdxeclipse.preferences.SpdxPreferencePage"
            id="org.spdx.spdxeclipse.preferences.SpdxPreferencePage">
      </page>
      <page
            category="org.spdx.spdxeclipse.preferences.SpdxPreferencePage"
            class="org.spdx.spdxeclipse.preferences.SpdxFilePreferencePage"
            id="org.spdx.spdxeclipse.preferences.SpdxFilePreferencePage"
            name="SPDX File Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.spdx.spdxeclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="SPDX"
            class="org.spdx.spdxeclipse.properties.SpdxFilePropertyPage"
            id="org.spdx.spdxeclipse.properties.SpdxFilePropertyPage">
         <enabledWhen>
            <or>
                <instanceof
                    value="org.eclipse.jdt.core.ICompilationUnit">
                </instanceof>
                <instanceof
                  value="org.eclipse.core.resources.IFile">
                </instanceof>
            </or>
         </enabledWhen>
      </page>
      <page
            class="org.spdx.spdxeclipse.properties.SpdxProjectPropertyPage"
            id="org.spdx.spdxeclipse.properties.SpdxProject"
            name="%propertyPages.SpdxProject.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="org.spdx.spdxeclipse.properties.SpdxProject"
            class="org.spdx.spdxeclipse.properties.SpdxProjectDefaultFilePropertyPage"
            id="org.spdx.spdxeclipse.properties.SpdxProjectDefaultFile"
            name="%propertyPages.SpdxProjectDefaultFile.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.spdx.spdxeclipse"
            defaultHandler="org.spdx.spdxeclipse.ui.CommandAddSpdxToProject"
            description="%commands.addSpdxToProject.description"
            id="org.spdx.spdxeclipse.commands.addSpdxToProject"
            name="%commands.addSpdxToProject.name">
      </command>
      <command
            categoryId="org.spdx.spdxeclipse"
            defaultHandler="org.spdx.spdxeclipse.ui.CommandRemoveSpdx"
            description="%commands.removeSpdx.description"
            id="org.spdx.spdxeclipse.commands.removeSpdx"
            name="%commands.removeSpdx.name">
      </command>
      <category
            description="%category.spdx.description"
            id="org.spdx.spdxeclipse"
            name="%category.spdx.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:project?after=additions">
         <command
               commandId="org.spdx.spdxeclipse.commands.addSpdxToProject"
               label="%commands.addSpdxToProject.name"
               style="push"
               tooltip="%commands.addSpdxToProject.tooltip">
         </command>
         <command
               commandId="org.spdx.spdxeclipse.commands.removeSpdx"
               label="%commands.removeSpdx.name"
               style="push"
               tooltip="%commands.removeSpdx.tooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackagesView?after=additions">
         <command
               commandId="org.spdx.spdxeclipse.commands.addSpdxToProject"
               label="%commands.addSpdxToProject.name"
               style="push"
               tooltip="%commands.addSpdxToProject.tooltip">
         </command>
         <command
               commandId="org.spdx.spdxeclipse.commands.removeSpdx"
               label="%commands.removeSpdx.name"
               style="push"
               tooltip="%commands.removeSpdx.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="spdxNature"
         name="SPDX Nature"
         point="org.eclipse.core.resources.natures">
         <runtime>
            <run class="org.spdx.spdxeclipse.nature.SpdxProjectNature">
            </run>
         </runtime>
   </extension>
   <extension
        id="org.spdx.spdxeclipse.SPDXEclipsePlugin.spdxBuilder"
         name="SPDX Builder"
         point="org.eclipse.core.resources.builders">
         <builder>
            <run 
                class="org.spdx.spdxeclipse.builders.SpdxBuilder">
                <parameter name="optimize" value="true" />
                <parameter name="comment" value="Builder for Software Product Data Exchange (SPDX) MetaData" />
            </run>
         </builder>
   </extension>
   <extension
         id="spdxMarker"
         point="org.eclipse.core.resources.markers">
   </extension>
      <extension
         id="spdxProblem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.spdx.spdxeclipse.spdxMarker"/>
   </extension>

</plugin>
